<div class="main-container">
  <h1>Boggle Game</h1>
  
  

   <!-- 4x4 Board Display -->
  <div class="board-container">
    <table class="board">
      <tr *ngFor="let row of board; let rowIndex = index">
        <td
          *ngFor="let letter of row; let colIndex = index"
          class="cell"
          [ngClass]="{
            'highlighted': isCellHighlighted(rowIndex, colIndex),
            'focused': rowIndex === currentRowIndex && colIndex === currentColIndex
          }"
          (click)="onCellClick(letter, rowIndex, colIndex)"
        >
          {{ letter }}
        </td>
      </tr>
    </table>
  </div>

  <!-- Input and Button -->
  <div class="input-container">
    <input [(ngModel)]="selectedWord" placeholder="" readonly>
    <button (click)="submitWord()">{{ submitWordLabel }}</button>
  </div>

  <!-- Total Score -->
  <h3>{{ totalScoreLabel }}: {{ totalScore }}</h3>

  <!-- List of Words in column and row logic -->
  <div class="words-container">
    <ul class="words-list">
      <li *ngFor="let submittedWord of submittedWords">{{submittedWord}}</li>
    </ul>
  </div>
</div>
